.mouseComponent{
height: 40px;
  width: 40px;
  border: 3px dashed var(--bg-color-text);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  z-index: 1000;
  pointer-events:none;
 
}

.smiley{
  height: 40px;
  width: 40px;
  border: 3px dashed var(--bg-color-text);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  z-index: 1001;
  pointer-events:none;

}

.smiley::before{
    content:"❌";
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%,-50%);
    animation: loading  3s linear infinite;
}


@keyframes loading {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}