.informationsComponent{
    display: flex;
    justify-content: center;
    align-items: center;
    width:90%;
    height: 40vh;
    margin: 10px auto;
   
   
   
}

section{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 90%;
    height: 90%;
    /* box-sizing: border-box; */
     border:1px solid black;
}
.aboutus{
    position: relative;
    width: 30%; 
   
}

h2{
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.aboutus img{
    margin-left: 10px;
    padding: 15px;
    width:15vw;
}

.aboutus p{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 5px 20px;
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-align: left;
}

.aboutus .iconList {
    display: flex;
    justify-content: center;
   
}
.iconList > a{
    margin: 5px;

}

.activities{
    /* border: 1px solid black; */
     width: 30%; 
    
}

.box__list{
    margin:0 auto;
    padding: 20px;
    width: 15vw;
    height: 30vh;
    background-color: aqua;
}

li > details{
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    cursor:pointer;
    margin-bottom: 5px;
}

details p{
     font-family: 'Questrial', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-align: justify;
}

.map__content{
    
     width: 30%; 
}