.informationsComponent{
    width:90%;
    height: 40vh;
    margin: 10px auto;
    background-color: rgba(0, 255, 255, 0.433);
}

.aboutus{
    /* background-color: red; */
    width: 30%; 
    border:1px solid black;
}

.aboutus img{
    padding: 15px;
    width:100%;
}

.aboutus p{
    margin-left: 10px;
    padding: 10px 5px 20px;
    font-size: 14px;
    text-align: left;
}

.aboutus .iconList {
    display: flex;
    justify-content: center;
   
}
.iconList > a{
    margin: 5px;
    background-color: 
}