.navbar{
    height: 85px;
    background-color: var(--bg-color-light);
    position: sticky;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    z-index: 100;
}

.header{
    display: flex;
    justify-content: space-between;
}

.menu__header{
    height: 30px;
    margin-top: auto;
    margin-bottom:auto;
    margin-left: 3%;
    margin-right:56px;
    display: flex;
    align-items: center;
    color:var(--text-color-grey);
    cursor: pointer;

}

.button__menu{
    border: none;
    background-color: var(--bg-color-light);
    margin-left: 5px;
    color:var(--text-color-grey);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.main__title{
    width: auto;
    min-width: 200px;
    padding: 15px 10px;
}

.right__header{
     margin-right: 3%;
}

.right__header ul{
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right__header ul li{
    padding: 5px;
}

.right__header ul li a{
    color:var(--text-color-grey);
    font-size: 12px;
    letter-spacing: -0.5px;
}

.right__header ul li a:hover{
   border-bottom:1px solid black;
   transition:0.4s all;
}

.nav{
    width:250px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    transform: translate(-300px,-5px);
    transition: transform 0.4s;
}

.nav.active{
    transform: translate(5px,-5px);
    transition: transform 0.4s;
}


.nav__menu{
    padding: 25px 50px 20px;
    font-size: 15px;
    text-transform: uppercase;
}

.nav__menu li {
    padding-bottom: 5px;
}

.nav__menu li a:hover{
    color:var(--text-color-dark)
}

.nav__menu button{
    padding-bottom: 5px;
    background-color: transparent;
}

.accordion {
    cursor: pointer;
    color:var(--text-color-grey);
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
    font-weight: 500;
    width: 100%;
    border: none;
    text-transform: uppercase;
    text-align: left;
}

.accordion:hover{
    color:var(--text-color-dark)
}

.accordion.active{
    background-color: transparent;
     -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}


.accordion:after {
position:relative;
  content: '🔻';
  top: 2px;
  font-size: 8px;
  float: right;
  font-weight: lighter;
  transform:rotate(0deg);
  transition : transform 0.4s ease-in;

}

.accordion__content {
  padding: 0 18px;
  /* background-color: var(--bg-color-light); */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  display: block;
  max-height: 0;
  overflow: hidden;
  transition:max-height 0.6s ease;
  font-size: 12px;
}

.accordion__content.active{
 max-height: 135px;
}

.accordion.active:after{
content: '🔻';
transform:rotate(180deg);
}