.titleText{
    display: inline-block;
    width: 100%;
    margin-top: 25px;
   text-align: center;
}

.titleText  h1{
font-family: 'Montserrat', sans-serif;
font-size: 50px;
line-height: 50px;
font-weight: 600;
background:url('../../assets/images/bg_font.jpg') repeat;
 background-clip: text;
-webkit-background-clip: text;
color: transparent;
text-transform: uppercase;
}