.titleText{
    display: inline-block;
    width: 100%;
    margin-top: 10vh;
   text-align: center;
}

.titleText  h1{
font-family: 'Montserrat', sans-serif;
font-size:calc(2rem + 2vw);
font-weight: 600;
letter-spacing: -0.2vw;
background:url('../../assets/images/bg_font.jpg') repeat;
 background-clip: text;
-webkit-background-clip: text;
color: transparent;
text-transform: uppercase;
}

