@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;900&family=Questrial&display=swap');

:root {
  --text-color-grey: #696969;
  --text-color-dark: #000;
   --text-color-light: #fff;
  --text-color-lightdark: #111;
  --bg-color-light: #fff;
   --bg-color-text: #696969;
  --theme-color-logo: #ff851b;
  --theme-cursor:"🧐";
}

*,
::before,
::after,ul,li {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
   cursor:none;
}

body{
  
  /* position:relative; */
  background-color: #9e885980;
 overflow-x: hidden;
}

li{
  list-style: none;
   color:#696969;
}
a{
  text-decoration: none;
   color:#696969;
}

