@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;900&family=Questrial&display=swap');

:root {
  --text-color-grey: #696969;
  --text-color-dark: #000;
  --text-color-lightdark: #111;
  --bg-color-light: #fff;
  --theme-color-logo: #ff851b;
}


*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  position: relative;
  background-color: #f6f1eb;
}

li{
  list-style: none;
   color:#696969;
}
a{
  text-decoration: none;
   color:#696969;
}

h1{
font-family: 'Montserrat', sans-serif;
font-size: 50px;
line-height: 50px;
font-weight: 600;
background:url('./assets/images/bg_font.jpg') repeat;
 background-clip: text;
-webkit-background-clip: text;
color: transparent;
}