.swiper{
    position: absolute;
    top: 150px;
    width: 95vw;
    max-height: 40vh;
    border:1px solid black;
    border-radius: 15px;
   object-fit: cover;
}


.swiper-slide {
  background: #fff;
  /* display: flex; */
  /* justify-content: center;
  align-items: center;
   overflow: hidden; */
   /* width: 100%; */
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}
